<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<form action="/home/upload" method="post" enctype="multipart/form-data">
    Select file to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
    <input type="submit" value="Upload Image" name="submit">
</form>